{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
{% if response %}
{% for movie in response["results"]     %}
    <a href="{{ url_for('add') }}"><p>{{movie["original_title"]}}</p></a>

    <img src="https://image.tmdb.org/t/p/w154{{ movie["poster_path"] }}" alt="">
    <p>{{ movie["release_date"] }}</p>
    <p>{{ movie["original_language"] }}</p>
    <p>{{ movie["vote_average"] }}</p>
  <p>{{ movie["release_date"] }}</p>
{% endfor %}
{% else %}
{{ wtf.quick_form(select_form, novalidate=True) }}
{% endif %}
</div>
{% endblock %}